.Modal{
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 80vw;
    height: 80vh;
    border: 1px solid #ccc;
    padding: 16px;
    left: 10vw;
    top: 5vh; 
    box-sizing: border-box;
    transition: all .3s ease-out;
    margin: 0 auto ;
    transform: translateY(0vh);
    opacity: 1;
}

.ModalClosed{
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 350px;
    border: 1px solid #ccc;
    padding: 16px;
    left: 35vw;
    top: 10vw; 
    box-sizing: border-box;
    transition: all 1s ease-in ;
    margin: 1px;
    transform: translateY(-200vh);
    opacity: 1;
}

@media(max-width: 1200px){
    .Modal{
        top: 25%;
    }
} 


@media(max-width: 840px){
    .Modal{
        top: 25%;
    }
} 


@media(max-width: 750px){
    .Modal{
        left: 26%;
    }
} 

@media(max-width: 700px){
    .Modal{
        left: 24%;
    }
} 

@media(max-width: 650px){
    .Modal{
        left: 22%;
    }
} 

@media(max-width: 600px){
    .Modal{
        left: 20%;
    }
} 

@media(max-width: 550px){
    .Modal{
        left: 16%;
    }
} 

@media(max-width: 500px){
    .Modal{
        left: 12%;
    }
} 

@media(max-width: 450px){
    .Modal{
        left: 8%;
    }
} 

@media(max-width: 425px){
    .Modal{
        left:4%;
    }
} 

@media(max-width: 400px){
    .Modal{
        left: 2%;
    }
} 


@media(max-width: 350px){
    .Modal{
        width: 300px;
        left: 2%;
    }
} 


