.Modal{
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 80vw;
    height: 28rem;
    border: 1px solid #ccc;
    padding: 16px;
    left: 10vw;
    top: 5vh; 
    box-sizing: border-box;
    transition: all .3s ease-out;
    margin: 0 auto ;
    transform: translateY(0vh);
    opacity: 1;
}

.ModalClosed{
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 350px;
    border: 1px solid #ccc;
    padding: 16px;
    left: 35vw;
    top: 10vw; 
    box-sizing: border-box;
    transition: all 1s ease-in ;
    margin: 1px;
    transform: translateY(-200vh);
    opacity: 1;
}


@media(max-width: 840px){
    .Modal{
        height: 26rem;
    }
} 

@media(max-width: 700px){
    .Modal{
        height: 22rem;
    }
} 

@media(max-width: 600px){
    .Modal{
        height: 20rem;
    }
} 

@media(max-width: 550px){
    .Modal{
        height: 18rem;
    }
} 


@media(max-width: 500px){
    .Modal{
      height: 16rem;
    }
} 

@media(max-width: 460px){
    .Modal{
        height: 14rem;
    }
} 

@media(max-width: 425px){
    .Modal{
        height: 14rem;
    }
} 

@media(max-width: 400px){
    .Modal{
        height: 12rem;
    }
} 


@media(max-width: 300px){
    .Modal{
      height: 12rem;
      width: 90vw;
      left: 5vw;
    }
} 


