.slide{
   height: 100%;
}

.slideImg{
  width: 50%;
   margin-left: 25%;
   transition: all .3s ease-out;
   transform: translateY(0vh);
   opacity: 1;
}

.closedImg{
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  color: #ccc;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

.close {
    color:#ccc;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.6s ease;
  }
  
  .next:hover,
  .prev:hover,
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .cursor {
    cursor: pointer;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .fade2{
    -webkit-animation-name: fade2;
    -webkit-animation-duration: 1.5s;
    animation-name: fade2;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    0% {opacity: .4;}
    100% {opacity: 1;}
  }
  
  @keyframes fade {
    0% {opacity: .4; left: 10px;}
    100% {opacity: 1; left: 50px;}
  }

  @-webkit-keyframes fade2 {
    0% {opacity: .4;}
    100% {opacity: 1;}
  }
  
  @keyframes fade2 {
    0% {opacity: .4; left: 10px;}
    100% {opacity: 1; left: 50px;}
  }


  @media(max-width: 1200px){
    .slideImg{
        width: 60%;
        margin-left: 20%;
    }
} 

@media(max-width: 1050px){
  .slideImg{
      width: 70%;
      margin-left: 15%;
  }
} 

@media(max-width: 900px){
  .slideImg{
      width: 80%;
      margin-left: 10%;
  }
} 

@media(max-width: 600px){
  .slideImg{
      width: 86%;
      margin-left: 6%;
  }
} 

@media(max-width: 520px){
  .slideImg{
      width: 80%;
      margin-left: 10%;
  }
} 

@media(max-width: 400px){
  .prev,
  .next {
  font-size: 2rem;
}

.next{
  right: 1.1rem;
}

.close {
  font-size: 1.5rem;
  right: 1.2rem;
}

.slideImg{
  width: 76%;
}

} 
@media(max-width: 350px){

.slideImg{
  width: 82%;
}

} 