.home{
    display: flex;
}

.menu{
    background-color: black;
    width: 20%;
    padding-left: 1rem;
    box-sizing: border-box;
}

.menu a{
    color:#f7f7f7;
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: 10;
}

.menu a:hover{
    color: #C5C5C5;
}

.menu a.active{
    color: #777;
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: 10;
}

.menu a:active{
    color: #595858;
    font-size: 2rem;
    letter-spacing: .5rem;
    font-weight: 10;
}

.logo{
    color: white;
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    letter-spacing: .2rem;
}


.photos{
    width: 80%;
}

.photo-row{
    display: flex;
    justify-content: flex-end;
}


.rowImg{
    width: 33%;
    border: 1px solid black;
    cursor: pointer;
    transition: filter .2s;
}

.rowImg:hover{
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
}

.singleNavLink{
    font-size: 2rem;  
    letter-spacing: .3rem; 
    font-weight: 10; 
}


@media(max-width: 1100px){
    .home{
        display: flex;
        flex-direction: column;
    }

    .menu{
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0px;
    }

    .navLinks{
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .logo{
        margin-left: 0px;
        display: inline-block;
    }

    .navLinkPair{
        display: flex;
        flex-direction: column;        
        margin: .4rem;
    }

    .photos{
        width: 100%;
    }

}

@media(max-width: 800px){

    .menu{
        flex-direction: column;
    }

    .logo{
           font-size: 3rem;
           margin: 0px;
       }

    .navLinkPair{
        display: flex;
        flex-direction: column;        
        margin: .4rem;
    }

    .photos{
        width: 100%;
    }

}

@media(max-width: 600px){
    .singleNavLink{
        font-size: 1.5rem;
    }
}

@media(max-width: 490px){
    .singleNavLink{
        font-size: 1.2rem;
    }
}



@media(max-width: 400px){
.singleNavLink{
    font-size: .8rem;
}
}

@media(max-width: 320px){
    .singleNavLink{
       letter-spacing: .1rem;
    }
    }
    
